<div class="container">
  <h1>nimo-tan</h1>
  <%= link_to "使い方", top_about_path, class: 'btn btn-outline-secondary btn-block' %>

  <!-- item card -->
    <div class="col-xl-3 col-sm-6 mb-5 centering_parent padding">
      <div class="bg-white rounded shadow-sm py-5 px-4">
        <%= image_tag 'user-solid.svg', width: '100px', height: '100px', class: "img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" %>
        <h5 class="mb-0">プロフィール</h5>
      </div>
    </div>
  <!-- End -->

  <!-- item card -->
    <div class="col-xl-3 col-sm-6 mb-5 centering_parent padding">
      <div class="bg-white rounded shadow-sm py-5 px-4">
        <%= image_tag 'user-solid.svg', width: '100px', height: '100px', class: "img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" %>
        <h5 class="mb-0">通知</h5>
      </div>
    </div>
  <!-- End -->

  <!-- item card -->
    <div class="col-xl-3 col-sm-6 mb-5 centering_parent padding">
      <div class="bg-white rounded shadow-sm py-5 px-4">
        <%= image_tag 'user-solid.svg', width: '100px', height: '100px', class: "img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" %>
        <h5 class="mb-0">イベント</h5>
      </div>
    </div>
  <!-- End -->

  <!-- item card -->
    <div class="col-xl-3 col-sm-6 mb-5 centering_parent padding">
      <div class="bg-white rounded shadow-sm py-5 px-4">
        <%= image_tag 'user-solid.svg', width: '100px', height: '100px', class: "img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" %>
        <h5 class="mb-0">ログアウト</h5>
      </div>
    </div>
  <!-- End -->
</div>
